.section-follow i {
  transition: color .3s ease-in-out;
  
  font-size: 2em;
  // margin-top: -2rem;

  &:hover {
    color: aqua;
  }

  &::before {
    margin: 0;
  }



  &.icon-twitter {
    font-size: 1.8em;
  }

  @media only screen and (min-width: 600px) {
    font-size: 4rem;

    &.icon-twitter {
      font-size: 3.4rem;
      margin-right: 1.7rem;
    }
  }
}

.icon-paper-plane.important {
  font-size: 1rem;
  margin-left: 0.5rem;
}